.print-wrapper {
    margin-bottom: 100px;
    .status-pending {
        color: #007bff !important;
    }

    .status-success {
        color: #28a745 !important;
    }

    .status-cancelled {
        color: #dc3545 !important;
    }

    .purchase-header {
        color: var(--primary);
        font-weight: 500;
        font-size: 22px;
        margin-top: 10px;
        font-weight: 700;
        text-align: center;
    }

    .table {
        text-align: center;
        border: 1px solid #d9d9d9;
        padding: 0 10px;
        h3 {
            color: var(--primary);
            font-weight: 600;
            font-size: 18px;
            margin: 10px 0;
        }
        .custom-table {
            border: 1px solid #d9d9d9;
            font-size: 12px;
            text-align: center;
        }

        .custom-table thead tr {
            color: var(--text-color); /* Màu chữ cho hàng tiêu đề */

            th {
                background-color: #d9d9d9;
            }
        }

        .custom-table tbody tr {
            background-color: var(--white); /* Màu nền cho các hàng trong thân bảng */
        }
    }
    .purchase-wrapper {
        display: flex;
        justify-content: center;
        border: 1px solid #d9d9d9;
        .purchase-section {
            width: 80%;
            font-weight: 600;
            padding: 20px;
            border-radius: 8px;
            text-align: center;

            h5 {
                color: var(--primary);
                font-weight: 600;
                font-size: 18px;
                margin: 10px 0 20px;
            }
            .form-group {
                position: relative;
                display: flex;
                border: 1px solid #d9d9d9;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
                margin-bottom: 15px;
                padding: 5px 0;

                label {
                    margin: 0 0 0 10px;
                }
                input {
                    margin-right: 5px;
                    width: 50%;
                    height: 25px;
                    text-align: center;
                    font-weight: 600;
                    border: 1px solid #989898;
                }
            }

            .form-group:nth-child(2n + 1) {
                input {
                    background-color: #d9d9d9;
                }
            }
            .last {
                flex-direction: column;
                label {
                    margin: 10px 0 10px 10px;
                    align-self: start;
                }
                select {
                    border: 1px solid #989898;
                    width: 50%;
                    font-weight: 600;
                    height: 30px;
                    padding-left: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .pay-btn {
        height: 35px;
        margin-top: 40px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}
