.wrapper {
    .status-pending {
        color: #007bff !important;
    }

    .status-success {
        color: #28a745 !important;
    }

    .status-cancelled {
        color: #dc3545 !important;
    }
    padding: 0 60px 50px;
    h2 {
        color: var(--primary);
        font-weight: 500;
        font-size: 22px;
        margin-top: 10px;
        font-weight: 700;
        text-align: center;
    }
    .document-table {
        text-align: center;
        width: 100%;
        padding: 0px 30px 60px;
        font-weight: 600;
        font-size: 14px;

        .header-table {
            .header-table-btn {
                width: 130px;
                font-size: 14px;
                margin: 10px 10px 4px;
                padding: 4px 12px;
                font-weight: 600;
                background-color: #d9d9d9;
                border-radius: 6px;
            }

            .filter-button {
                padding: 4px 22px;
                color: var(--primary);
                font-weight: 600;
                font-size: 14px;
                min-width: 0;
                margin-left: 20px;
                transition: background-color 0.3s;
            }

            .filter-button:hover {
                color: var(--white);
                background-color: #007bff;
            }
        }
        .custom-table {
            margin-top: 10px;
            border: 1px solid #d6d6d6;
            font-size: 12px;
            text-align: center;
            thead {
                tr {
                    color: var(--text-color); /* Màu chữ cho hàng tiêu đề */
                    th {
                        background-color: #09376b43; /* Màu nền cho hàng tiêu đề */
                        padding: 5px 0;
                    }
                }
            }
            tbody {
                tr {
                    background-color: var(--white); /* Màu nền cho các hàng trong thân bảng */
                    td {
                        text-align: center;
                        padding: 5px 0;
                        .file-icon {
                            font-size: 16px;
                            margin-right: 16px;
                        }
                    }
                }
                tr:last-child {
                    font-weight: 700;
                    td {
                        background-color: #09376b43; /* Màu nền cho hàng cuối */
                    }
                }

                .no-file {
                    td {
                        background-color: var(--white) !important;
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}
