.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    // box-shadow: 0px 2px 2px rgb(239, 155, 10);
    font-family: Open Sans sans-serif;
    padding: 0 0 5px 10px;
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;

    .logo-link {
        display: flex;
        align-items: center;
        margin-right: 15px;
        .logo-img {
            height: 24px;
        }
        .title {
            margin-left: 8px;
            display: flex;
            flex-direction: column;
            font-family: sans-serif;
            span {
                line-height: 16px;
                font-size: 16px;
                font-weight: 700;
            }

            .SPSS {
                color: #00356b;
            }
        }
    }

    .nav-btn {
        padding: 8px 20px;
        color: var(--primary);
        font-weight: 600;
        font-size: 14px;
        min-width: 0;
        margin-left: 20px;
        transition: background-color 0.3s;
    }

    .nav-btn:hover {
        background-color: var(--primary);
        color: (var(--white));
        font-weight: 600;
        min-width: 0;
    }
}
// menu
.menu {
    display: flex;
    align-items: center;
    margin-right: 10px;
    .menu-balance {
        color: var(--primary);
        font-weight: 600;
        padding: 6px 8px;
        border: 1px solid var(--primary);
        font-size: 12px;
        transition: background-color 0.3s;
    }

    .menu-balance:hover {
        color: var(--white);
    }

    .avatar-control {
        cursor: pointer;
        margin-left: 6px;
        .user-avatar {
            margin-left: 8px;
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
            cursor: pointer;
        }

        .chevron-icon {
            font-size: 10px;
            margin-left: 3px;
        }
    }
}
// Actions
// .actions {
//     display: flex;
//     align-items: center;
// }

// .badge {
//     position: absolute;
//     top: -3px;
//     right: 0px;
//     padding: 0px 6px;
//     height: 2rem;
//     line-height: 2rem;
//     border-radius: 10px;
//     font-size: 1.4rem;
//     font-weight: 600;
//     color: var(--white);
//     font-family: var(--font-family);
//     background-color: var(--primary);
// }
